.main_heading{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.my_parag{
    font-family: Arial, Helvetica, sans-serif; 
}

.caption{
    font-family: Courier New, Courier, monospace;
}

.second-parag{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.quot{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

img{
width: 100%;
height: 100%;
}