input {
    font-size: 17px;
    border: none;
    /* border-bottom: 1px solid #cccc; */
    padding: 20px 10px 5px;
    margin-bottom: 10px;

}

/* .input__title {
    border-bottom: none;
} */
form {
    width: 483px;
    margin: 40px auto;
}

legend {
    font-size: 50px;
    border-bottom: 1px solid #cccc;
    text-align: center;
    margin-bottom: 40px;
}
input:focus {
    outline: none;
}

.form__row {
    position: relative;
}
.form__row_2 {
    display: flex;

}
.input__price {
 border-right: 1px solid #cccc;
 border-top: 1px solid #cccc;
 border-bottom: 1px solid #cccc; 
}

.input__location {
    border-top: 1px solid #cccc; 
    border-bottom: 1px solid #cccc; 
}
input + label {
    color: #cccc;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    left: 10px;
    top: 10px;
    pointer-events: none;
    transition: .5s ease all;
    opacity: 0;
}


input:valid + label {
    top: 3px;
    opacity: 1;
    font-size:14px;

}

input:focus + label {
    color:#5264AE;
}


