body {
    box-sizing: border-box;
}

.blue {
    background-color: #A0DFD1;
    width: 396px;
    height: 200px;
    border: 1px solid #7AB6A8;
    position: relative;
    box-sizing: border-box;

}

.white {
    width: 370px;
    border: 1px solid #7AB6A8;
    color: #7AB6A8;
    padding: 10px;
    position: absolute;
    background-color: white;
    /* top: 10px;
    left: 11px; */
    top: 5%;
    left: 3%;
    box-sizing: border-box;
}

.white p {
    margin-top: 50px;
}

.header {
    color: black;
    background: -moz-linear-gradient(top, #ffd600 0%, #fcc826 100%); 
    background: -webkit-linear-gradient(top, #ffd600 0%,#fcc826 100%); 
    padding: 10px;
    width: 368px;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 17px;
    box-sizing: border-box;
}

.header:after {
    content: "";
    display: block;
    position: absolute;
    width: 0; 
    height: 0; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 12px solid #FFC200;
    top: 39px;
    left: 8px;
}